<div class='container'>
    <form name="form" novalidate>
        <div class="card">
            <div class="custom-card-header">
                <div class="custom-card-header-title title is-4">
                    <input class="input" type="text" ng-model="dog.Name" name="dName" placeholder="Enter dog name..." required="" />
                    <div ng-show="form.$submitted || form.dName.$touched">
                        <div class="error-big" ng-show="form.dName.$error.required">Name is required!</div>
                    </div>
                </div>
                <div class="sex-wrapper">
                    <div class="sex-choice">
                        <label class="radio"><input type="radio" ng-model="dog.Male" name="dGender" value="true" required=""/>Male</label>
                        <label class="radio"><input type="radio" ng-model="dog.Male" name="dGender" value="false" required=""/>Female</label>
                    </div>
                    <div ng-show="form.$submitted">
                        <div class="error-small" ng-show="form.dGender.$error.required">Gender is required!</div>
                    </div>
                </div>
            </div>
            <div class="card-content">
                <table class="edit-table">
                    <tbody>
                    <tr>
                        <td>
                            <strong>Age</strong>
                        </td>
                        <td>
                            <input class="input" type="number" ng-model="dog.Age" name="dAge" min="0.0" required=""/>
                        </td>
                        <td ng-show="form.$submitted || form.dAge.$touched">
                            <div colspan="2" class="error-small" ng-show="form.dAge.$error.required">Age is required!</div>
                            <div colspan="2" class="error-small" ng-show="form.dAge.$error.min">Age must be > 0!</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Brought to shelter</strong>
                        </td>
                        <td>
                            <input class="input" type="date" ng-model="dog.BroughtToShelter" name="dBrought" required=""/>
                        </td>
                        <td ng-show="form.$submitted || form.dBrought.$touched">
                            <div colspan="2" class="error-small" ng-show="form.dBrought.$error.required">Brought to shelter date is required!</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Caretaker</strong>
                        </td>
                        <td>
                            <input class="input" type="text" ng-model="dog.CareTaker" name="dCareTaker"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Caretaker contact</strong>
                        </td>
                        <td>
                            <input class="input" type="text" ng-model="dog.CareTakerPhone" name="dCareTakerPhone" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Adopted?</strong>
                        </td>
                        <td>
                            <label class="radio"><input type="radio" ng-model="dog.Adopted" name="dAdopted" value="true" required=""/>Yes</label>
                            <label class="radio"><input type="radio" ng-model="dog.Adopted" name="dAdopted" value="false" required=""/>No</label>
                        </td>
                        <td ng-show="form.$submitted">
                            <div colspan="2" class="error-small" ng-show="form.dAdopted.$error.required">Information if adopted is required!</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Adopted on</strong>
                        </td>
                        <td>
                        <td>
                            <input class="input" type="date" ng-model="dog.AdoptedOn" name="dAdoptedOn" />
                        </td>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br />
                <div class="box">
                    <textarea class="textarea" placeholder="Enter description..." ng-model="dog.Description" name="dDescription" required=""></textarea>
                </div>
                <div ng-show="form.$submitted || form.dDescription.$touched">
                    <div class="error-small" ng-show="form.dDescription.$error.required">Description is required!</div>
                </div>
            </div>
            <footer class="card-footer">
                <input type="submit" class="card-footer-item" ng-click="$ctrl.submit(form, dog)" />
            </footer>
        </div>
    </form>
</div>