* {
    font-family: 'Source Sans Pro';
}

#logo {
    margin-top: 25px;
    margin-bottom: 10px;
}

.container {
    margin-top: 25px;
}

.table {
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.15);
    color: gray;
}

.table td, .table th {
    text-align: center;
}

.table tr:hover {
    color: gray;
}

.table thead, table thead th {
    background-color: white;
    font-size: 15px;
}

.table thead th {
    font-weight: 600;
    color: #4794b1;
}

.table thead:hover, #table-header:hover {
    background-color: #70aec5;
    color: white;
}

.tabs {
    max-width: 250px;
    margin: 0 auto;
}

.tabs a {
    font-weight: 600;
    color: #77aabd;
}

.tabs a:hover {
    color: gray;
    border-bottom: 1px solid #ababab;
}